.graph-container {
	border: 1px solid #EDEDED;
}

.results__info {
	position: absolute;
}

.node {
	fill: #4099ff;
	stroke: #8dc2ff;
	stroke-width: 1.5px;
}

.node--hovered {
	stroke: #99ff40;
	fill: #ff4099;
}

.node--highlight-edge-target {
	stroke: #ff4640;
	fill: #ffa640;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}

.link--node-hovered {
	stroke: #ffa640;
	stroke-opacity: .6;
	stroke-width: 5;
}

.node-title {
	fill: #222222;
	font-size: 10px sans-serif;
	pointer-events: none;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.node-title--node-hovered {
	fill: #ff4099;
}

.node-title--highlight-edge-target {
	fill: #E63F3A;
}