@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	margin: 0 auto;
	width: 800px;
}
h1 {
	font-family: 'Oswald', sans-serif;
	color: blue;
	font-size: 42px;
	font-style: bold;
	text-align: center;
}
.about {
	text-align: center;
}

.hashtag-form-container {
	text-align: center;
}
.block_title {
	font-size: 1.25rem;
	margin-bottom: 5px;
}
.results__container {
	font-size: 0.8rem;
	height: 90%;
	width: 90%;
}

.node {
	stroke: black;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}

.title {
	fill: red;
	font-size: 10px sans-serif;
	pointer-events: none;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.graph-container {
	border: 1px solid black;
}