@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	margin: 0 auto;
	width: 800px;
	background: #FDFDFD;
}

h1 {
	font-family: 'Oswald', sans-serif;
	color: #4099FF;
	font-size: 43px;
	font-style: bold;
	text-align: center;
}

.vertical-container {
	position: absolute;
	top: 50%;
	padding: 20px;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

/*.u-float-right {
	float: right;
	border-radius: .2em;
}*/

.search-box {
	display: flex;
	display: -webkit-flex;
	justify-content: center; /* For safari */
	-webkit-justify-content: center; /* For safari */
}

.search-box__textbox {
	background-color: #FFFFFF;
	border: 1px solid #EDEDED;
	border-radius: 2px;
	color: #2C2C2C;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding: 10px;
	text-transform: uppercase;
	transition: all .2s;
	vertical-align: top;
	width: 200px;
}

.search-box__textbox:focus {
	border: 1px solid #4099FF;
    background: url(http://i.imgur.com/woNgI9v.png);
    background-position: 13px center;
    background-repeat: no-repeat;
    background-size: 14px;
    padding-left: 40px;
    width: 400px;
}

.search-box__button {
	background-color: #4099FF;
	background-image: url(http://i.imgur.com/1cBNrx5.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 14px;
	border: 1px solid #EDEDED;
	border-left: 0;
	border-radius: .2em;
	color: #FFFFFF;
	cursor: pointer;
	height: 52px;
	padding: 10px;
	width: 52px;
}

.search-box__button:hover {
	background: #3A81D2;
	background-image: url(http://i.imgur.com/1cBNrx5.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 14px;
	height: 52px;
	width: 52px;
}

.block_title {
	font-size: 1.25rem;
	margin-bottom: 5px;
}
.results__container {
	font-size: 0.8rem;
	height: 90%;
	width: 90%;
}
